.youtubeContainer {
  position: relative;
  width: 106vh;
  padding-top: 60vh; /* 16:9 비율에 따른 값 (9 / 16 * 100%) */

}

.youtubeVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
